ion-header {
    ion-toolbar {
      --background: #f8f8f8;
      --color: #000;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ion-item {
    width: 90%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  ion-button {
    width: 90%;
    max-width: 400px;
    margin-top: 10px;
  }
  
  .show-button {
    --background: #3880ff;
  }
  
  .clear-button {
    --background: #f53d3d;
  }
  